h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

* {
  scroll-behavior: smooth; }

html,
body,
main,
div,
ul,
li,
p {
  margin: 0;
  padding: 0; }

h3 {
  font-family: Popins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h2 {
  font-family: Popins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h4 {
  font-family: Poopins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

* {
  scroll-behavior: smooth; }

html,
body,
main,
div,
ul,
li,
p {
  margin: 0;
  padding: 0; }

h3 {
  font-family: Popins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h2 {
  font-family: Popins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h4 {
  font-family: Poopins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.header {
  background-color: #008aff;
  height: 120px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2; }
  .header__nav {
    width: 1145px;
    margin: 0 auto; }
    @media screen and (max-width: 1200px) {
      .header__nav {
        width: calc(100vw - 40px); } }
  .header__menu-toggler {
    position: absolute;
    display: none; }
  @media screen and (max-width: 1010px) {
    .header {
      height: 80px; }
      .header__menu-label {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 30px;
        right: 50px;
        background-image: url(../images/header/burger.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .header__logo {
        height: 40px;
        width: 69px;
        position: absolute;
        left: 50px;
        top: 20px;
        background-image: url(../images/logo/Air.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; } }
  .header__menu-toggler:checked ~ .header__nav {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .header__menu-toggler:checked ~ .header__menu-label {
    display: none; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

* {
  scroll-behavior: smooth; }

html,
body,
main,
div,
ul,
li,
p {
  margin: 0;
  padding: 0; }

h3 {
  font-family: Popins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h2 {
  font-family: Popins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h4 {
  font-family: Poopins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .nav__menu-label {
    display: none; }
  .nav__logo {
    background-image: url(../images/logo/Air.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26px;
    width: 45px;
    margin-right: 78px; }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__list :last-child {
      margin-right: 0; }
  .nav__link {
    text-decoration: none;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none; }
    .nav__link:hover {
      color: #ff9c8e; }
    .nav__link:focus {
      color: #ff9c8e; }
  .nav__item {
    margin-right: 64px;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white; }
    .nav__item--hire {
      position: relative;
      margin-right: 0; }
      .nav__item--hire::after {
        content: "";
        height: 2px;
        width: 5.15em;
        background-color: #ff9c8e;
        border-radius: 4px;
        position: absolute;
        top: 1.62em;
        left: 0; }
        @media screen and (max-width: 1010px) {
          .nav__item--hire::after {
            display: none; } }
  @media screen and (max-width: 1010px) {
    .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      height: 100vh;
      z-index: 1;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform-origin: left top;
              transform-origin: left top;
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
      background-color: rgba(0, 138, 255, 0.5); }
      .nav__menu-label {
        display: block;
        height: 20px;
        width: 20px;
        top: 30px;
        right: 50px;
        position: absolute;
        background-image: url(../images/header/cross.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .nav__item {
        display: block;
        height: calc(100vh / 7);
        line-height: calc(100vh / 7);
        margin: 0;
        font-size: 3vh; }
        .nav__item--hire {
          color: #ff9c8e; }
      .nav__logo {
        position: absolute;
        top: calc(100vh / 14 - 20px);
        left: calc(50% - 22px); } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

* {
  scroll-behavior: smooth; }

html,
body,
main,
div,
ul,
li,
p {
  margin: 0;
  padding: 0; }

h3 {
  font-family: Popins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h2 {
  font-family: Popins, sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 1.5em;
  color: #253757; }

h4 {
  font-family: Poopins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.slider {
  position: relative;
  height: 680px;
  width: 687px;
  border-top-left-radius: 200px;
  overflow: hidden; }
  .slider__title {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    bottom: 96px;
    left: 144px;
    z-index: 1;
    width: 264px; }
    @media screen and (max-width: 1100px) {
      .slider__title {
        bottom: calc(5% + 90px); } }
    @media screen and (max-width: 500px) {
      .slider__title {
        bottom: 50%;
        left: 20px; } }
  .slider__paragraph {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: white;
    position: absolute;
    bottom: 48px;
    left: 144px;
    z-index: 1;
    width: 264px; }
    @media screen and (max-width: 1100px) {
      .slider__paragraph {
        bottom: calc(5% + 42px); } }
    @media screen and (max-width: 500px) {
      .slider__paragraph {
        bottom: calc(50% - 42px);
        left: 20px; } }
  .slider__container {
    position: relative;
    left: -687px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300%;
    height: 100%;
    -webkit-transition: left 1s;
    transition: left 1s; }
  .slider__radio {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%; }
    .slider__radio:nth-of-type(1):checked ~ .slider__container {
      left: 0; }
    .slider__radio:nth-of-type(1):checked ~ .slider__arrow--1 {
      display: block; }
    .slider__radio:nth-of-type(2):checked ~ .slider__container {
      left: -100%; }
    .slider__radio:nth-of-type(2):checked ~ .slider__arrow--2 {
      display: block; }
    .slider__radio:nth-of-type(3):checked ~ .slider__container {
      left: -200%; }
    .slider__radio:nth-of-type(3):checked ~ .slider__arrow--3 {
      display: block; }
  .slider__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .slider__arrow {
    display: none;
    position: absolute;
    bottom: 66px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28%; }
    .slider__arrow:hover {
      cursor: pointer;
      opacity: 0.8; }
    .slider__arrow:focus {
      opacity: 0.8; }
    .slider__arrow--left {
      left: 48px;
      background-image: url(../images/slider/arrow-left.svg); }
    .slider__arrow--right {
      left: 88px;
      background-image: url(../images/slider/arrow-right.svg); }

#img1 {
  background-image: url(../images/slider/Photo.png); }

#img2 {
  background-image: url(../images/slider/qPojqUji_y4.png); }

#img3 {
  background-image: url(../images/slider/GwVmBgpP-PQ.png); }

.strategic-agency {
  color: white;
  min-height: 680px;
  border-bottom-left-radius: 200px;
  background-color: #008aff;
  position: relative; }
  @media screen and (max-width: 440px) {
    .strategic-agency {
      border-bottom-left-radius: calc(50vw - 20px); } }
  .strategic-agency__container {
    max-width: 1145px;
    margin: 0 auto;
    padding: 120px 0; }
    @media screen and (max-width: 440px) {
      .strategic-agency__container {
        padding-bottom: 20px; } }
    @media screen and (max-width: 1200px) {
      .strategic-agency__container {
        margin: 0 20px; } }
    @media screen and (max-width: 1100px) {
      .strategic-agency__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .strategic-agency__title {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.06em;
    letter-spacing: 2px;
    margin: 0; }
    @media screen and (max-width: 400px) {
      .strategic-agency__title {
        font-size: 50px; } }
  .strategic-agency__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    margin: 32px 0 83px; }
  .strategic-agency__button {
    width: 228px;
    height: 50px;
    border: 1px solid #ff9c8e;
    border-radius: 64px;
    background-color: #ff9c8e;
    color: white;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 50px; }
    @media screen and (max-width: 400px) {
      .strategic-agency__button {
        width: 100%; } }
  .strategic-agency__slider {
    position: absolute;
    right: 0;
    bottom: 0; }
    @media screen and (max-width: 1100px) {
      .strategic-agency__slider .slider__arrow--left {
        left: calc(50% - 30px);
        bottom: 5%; } }
    @media screen and (max-width: 1100px) {
      .strategic-agency__slider .slider__arrow--right {
        left: calc(50% + 30px);
        bottom: 5%; } }
    @media screen and (min-width: 1650px) {
      .strategic-agency__slider {
        left: calc((100vw - 1145px) / 2 + 1145px - 687px); } }
    @media screen and (max-width: 1100px) {
      .strategic-agency__slider {
        position: relative;
        margin-top: 50px;
        border-bottom-left-radius: 200px; } }
    @media screen and (max-width: 687px) {
      .strategic-agency__slider {
        width: calc(100vw - 40px);
        height: calc(100vw - 40px); } }

.who-we-are {
  width: 47%;
  margin: 0 auto;
  padding: 147px 0; }
  @media screen and (min-width: 1145px) {
    .who-we-are {
      width: 754px; } }
  @media screen and (max-width: 950px) {
    .who-we-are {
      width: 687px; } }
  @media screen and (max-width: 727px) {
    .who-we-are {
      width: calc(100% - 40px);
      text-align: center; } }
  .who-we-are__text {
    font-size: 24px;
    line-height: 1.5em;
    font-family: "Open sans", sans-serif;
    color: #6c788b; }

.card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 264px; }
  .card1__img {
    height: 166px;
    width: 166px;
    border-radius: 10px;
    -webkit-transition: -webkit-transform 1s, -webkit-box-shadow 1s;
    transition: -webkit-transform 1s, -webkit-box-shadow 1s;
    transition: transform 1s, box-shadow 1s;
    transition: transform 1s, box-shadow 1s, -webkit-transform 1s, -webkit-box-shadow 1s; }
    .card1__img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 0 0 10px 10px #008aff;
              box-shadow: 0 0 10px 10px #008aff; }
    .card1__img:focus {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 0 0 10px 10px #008aff;
              box-shadow: 0 0 10px 10px #008aff; }
  .card1__title {
    margin-top: 40px;
    margin-bottom: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4em;
    color: #253757; }
  .card1__text {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    color: #6c788b;
    text-align: center;
    padding: 0; }

.expertise {
  background-color: white;
  border-radius: 30px;
  padding: 128px 0; }
  .expertise__title {
    text-align: center;
    margin-bottom: 64px;
    margin-top: 0; }
  .expertise__container {
    max-width: 1145px;
    width: calc(100% - 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 687px) {
      .expertise__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  @media screen and (max-width: 687px) {
    .expertise__card1 {
      width: 100%;
      margin-top: 40px; } }

.card2 {
  position: relative;
  background-color: white;
  border-radius: 16px;
  width: 264px;
  height: 264px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .card2 * {
    outline: none; }
  .card2__num {
    margin-bottom: 24px;
    width: 46px;
    height: 24px;
    border-radius: 23px;
    background-color: #f2f9ff;
    text-align: center;
    line-height: 24px;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #008aff; }
  .card2__list {
    margin-bottom: 32px;
    list-style: none;
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 600;
    color: #6c788b; }
  .card2__link {
    position: absolute;
    left: 90px;
    border-radius: 24px;
    height: 40px;
    width: 100px;
    color: #334563;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .card2__link:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .card2__link:focus {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .card2__label {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #008aff;
    border: 1px solid #008aff;
    border-radius: 50%;
    background-image: url(../images/card2/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 1s, -webkit-box-shadow 1s;
    transition: -webkit-transform 1s, -webkit-box-shadow 1s;
    transition: transform 1s, box-shadow 1s;
    transition: transform 1s, box-shadow 1s, -webkit-transform 1s, -webkit-box-shadow 1s; }
    .card2__label:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-box-shadow: 0 0 10px 10px rgba(238, 130, 238, 0.2);
              box-shadow: 0 0 10px 10px rgba(238, 130, 238, 0.2); }
    .card2__label:focus {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-box-shadow: 0 0 10px 10px rgba(238, 130, 238, 0.2);
              box-shadow: 0 0 10px 10px rgba(238, 130, 238, 0.2); }
  .card2--blue .card2__label {
    background-color: #56ccf2;
    border-color: #56ccf2; }
  .card2--blue .card2__num {
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.1); }
  .card2--yellow .card2__label {
    background-color: #fcc304;
    border-color: #fcc304; }
  .card2--yellow .card2__num {
    color: #fcc304;
    background-color: rgba(252, 195, 4, 0.1); }
  .card2--green .card2__label {
    background-color: #15d850;
    border-color: #15d850; }
  .card2--green .card2__num {
    color: #15d850;
    background-color: rgba(21, 216, 80, 0.1); }
  .card2--red .card2__label {
    background-color: #f25656;
    border-color: #f25656; }
  .card2--red .card2__num {
    color: #f25656;
    background-color: rgba(242, 86, 86, 0.1); }

.process {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1145px;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    .process {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .process__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 588px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 588px;
    margin: 120px 0 44px; }
    @media screen and (max-width: 1200px) {
      .process__container {
        margin-right: 20px; } }
    @media screen and (max-width: 598px) {
      .process__container {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        max-height: none; } }
    @media screen and (max-width: 588px) {
      .process__container {
        width: 100%; } }
  .process__article {
    width: 362px;
    margin: 0; }
    @media screen and (max-width: 1200px) {
      .process__article {
        margin-left: 20px; } }
    @media screen and (max-width: 402px) {
      .process__article {
        width: calc(100% - 40px); } }
  .process__text {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #6c788b; }
  .process__card2 {
    margin: 15px 0 15px 30px; }
  .process__card2:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media screen and (max-width: 598px) {
      .process__card2:nth-of-type(2) {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0; } }
  .process__card2:nth-of-type(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 1; }
    @media screen and (max-width: 598px) {
      .process__card2:nth-of-type(4) {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0; } }
  .process__card2:nth-of-type(1) {
    position: relative;
    top: 150px; }
    @media screen and (max-width: 598px) {
      .process__card2:nth-of-type(1) {
        top: 0; } }
  .process__card2:nth-of-type(3) {
    z-index: 1;
    position: relative;
    top: 150px; }
    @media screen and (max-width: 598px) {
      .process__card2:nth-of-type(3) {
        top: 0; } }

.approach {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff9c8e;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  margin-left: 7.5%; }
  @media screen and (max-width: 440px) {
    .approach {
      border-bottom-left-radius: calc(50vw - 20px);
      border-top-left-radius: calc(50vw - 20px); } }
  @media screen and (max-width: 402px) {
    .approach {
      margin-left: 0; } }
  @media screen and (max-width: 598px) {
    .approach {
      margin-top: -150px; } }
  @media screen and (max-width: 950px) {
    .approach {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .approach * {
    color: white; }
  .approach__article {
    width: 362px;
    margin: 204px 12%; }
    .approach__article div:last-of-type {
      margin-bottom: 0; }
    @media screen and (min-width: 1650px) {
      .approach__article {
        margin-left: calc((100vw - 1145px) / 2 - 7.5vw); } }
    @media screen and (max-width: 950px) {
      .approach__article {
        margin-bottom: 0; } }
    @media screen and (max-width: 402px) {
      .approach__article {
        width: calc(100% - 40px);
        margin: 204px auto 0; } }
  .approach__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px; }
    @media screen and (max-width: 402px) {
      .approach__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .approach__paragraph {
    width: 260px;
    margin-left: 34px;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    line-height: 1.5em; }
    @media screen and (max-width: 402px) {
      .approach__paragraph {
        margin-left: 0; } }
  .approach__photo {
    width: 687px;
    height: 680px;
    border-top-left-radius: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover; }
    @media screen and (min-width: 1650px) {
      .approach__photo {
        left: calc((100vw - 1145px) / 2 + 1145px - 687px - 7.5vw); } }
    @media screen and (max-width: 1330px) {
      .approach__photo {
        width: calc(80vw - 362px);
        height: calc(80vw - 362px); } }
    @media screen and (max-width: 950px) {
      .approach__photo {
        position: relative;
        width: 80vw;
        height: 80vw;
        border-bottom-left-radius: 200px;
        margin-bottom: 5vw; } }
  .approach__img {
    margin: 10px 0;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat; }
  .approach div:nth-of-type(1) > p:first-of-type {
    background-image: url(../images/approach/Union1.png); }
  .approach div:nth-of-type(2) > p:first-of-type {
    background-image: url(../images/approach/calendar.png); }
  .approach div:nth-of-type(3) > p:first-of-type {
    background-image: url(../images/approach/file-text.png); }

.card3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 314px;
  height: 494px;
  background-color: white;
  border-radius: 24px; }
  .card3__photo {
    position: relative;
    margin: 87px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  .card3__top-oval {
    position: absolute;
    top: 30px;
    left: 12%;
    width: 56px;
    height: 139px;
    border-radius: 500px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    z-index: 0;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  .card3__bottom-oval {
    position: absolute;
    top: 150px;
    left: 70%;
    width: 56px;
    height: 139px;
    border-radius: 500px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    z-index: 0;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  .card3__quotes {
    width: 21px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/card3/blue-quotes.png); }
  .card3--blue .card3__photo {
    background-image: url(../images/testimonials/testimonial-ava-1.jpg); }
  .card3--blue .card3__top-oval {
    background-color: #56ccf2; }
  .card3--blue .card3__bottom-oval {
    background-color: #56ccf2; }
  .card3--yellow .card3__photo {
    background-image: url(../images/testimonials/testimonial-ava-2.jpg); }
  .card3--yellow .card3__top-oval {
    background-color: #fcc304; }
  .card3--yellow .card3__bottom-oval {
    background-color: #fcc304; }
  .card3--yellow .card3__quotes {
    background-image: url(/images/card3/yellow-quotes.png); }
  .card3--red .card3__photo {
    background-image: url(../images/testimonials/testimonial-ava-3.jpg); }
  .card3--red .card3__top-oval {
    background-color: #f25656; }
  .card3--red .card3__bottom-oval {
    background-color: #f25656; }
  .card3--red .card3__quotes {
    background-image: url(/images/card3/red-quotes.png); }
  .card3:hover .card3__photo {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }
  .card3__text {
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5em;
    color: #6c788b;
    margin: 10px 32px 0;
    text-align: center; }
  .card3__name {
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5em;
    color: #253757;
    margin-top: 16px; }
  .card3__company {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #c0cdd7;
    margin-top: 4px; }
  .card3:hover .card3__top-oval {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .card3:hover .card3__bottom-oval {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1145px;
  margin: 148px auto 168px; }
  @media screen and (max-width: 1022px) {
    .testimonials {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (max-width: 1185px) {
    .testimonials {
      width: calc(100% - 40px); } }
  .testimonials h4 {
    margin: 0;
    width: 314px; }
    @media screen and (max-width: 354px) {
      .testimonials h4 {
        width: calc(100vw - 40px); } }
  .testimonials h3 {
    margin: 16px 0 0;
    width: 314px; }
    @media screen and (max-width: 354px) {
      .testimonials h3 {
        width: calc(100vw - 40px); } }
  .testimonials__card3 {
    margin-top: 20px; }
    @media screen and (max-width: 354px) {
      .testimonials__card3 {
        width: calc(100vw - 40px); } }
  .testimonials__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 85px; }
    @media screen and (max-width: 1022px) {
      .testimonials__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }

.button {
  width: 226px;
  height: 56px;
  border: 1px solid #ff9c8e;
  background-color: #ff9c8e;
  color: white;
  border-radius: 64px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none; }
  .button:hover {
    background-color: white;
    color: #ff9c8e;
    cursor: pointer; }
  .button:focus {
    -webkit-box-shadow: 0 0 10px 10px rgba(238, 130, 238, 0.2);
            box-shadow: 0 0 10px 10px rgba(238, 130, 238, 0.2);
    background-color: white;
    color: #ff9c8e; }

.deco-oval {
  height: 143px;
  width: 56px;
  border-radius: 500px;
  border: 3px solid;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .deco-oval--color1 {
    border-color: #56ccf2; }
  .deco-oval--color2 {
    border-color: #fcc304; }
  .deco-oval--color3 {
    border-color: #f25656; }
  .deco-oval--color4 {
    border-color: #15d850; }
  .deco-oval--color5 {
    border-color: violet; }
  .deco-oval--size1 {
    -webkit-transform: scale(1) rotate(25deg);
            transform: scale(1) rotate(25deg); }
    .deco-oval--size1:hover {
      -webkit-transform: scale(1) rotate(205deg);
              transform: scale(1) rotate(205deg); }
  .deco-oval--size2 {
    -webkit-transform: scale(0.65) rotate(25deg);
            transform: scale(0.65) rotate(25deg); }
    .deco-oval--size2:hover {
      -webkit-transform: scale(0.65) rotate(205deg);
              transform: scale(0.65) rotate(205deg); }
  .deco-oval--size3 {
    -webkit-transform: scale(0.47) rotate(25deg);
            transform: scale(0.47) rotate(25deg); }
    .deco-oval--size3:hover {
      -webkit-transform: scale(0.47) rotate(205deg);
              transform: scale(0.47) rotate(205deg); }
  .deco-oval--size4 {
    -webkit-transform: scale(0.31) rotate(25deg);
            transform: scale(0.31) rotate(25deg); }
    .deco-oval--size4:hover {
      -webkit-transform: scale(0.31) rotate(205deg);
              transform: scale(0.31) rotate(205deg); }

.vision {
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 950px) {
    .vision__deco-oval {
      display: none; } }
  .vision__title {
    margin: 199px 20px 0;
    z-index: 1;
    text-align: center; }
  .vision__text {
    margin: 24px 20px 64px;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 1.5em;
    color: #6c788b;
    max-width: 754px;
    z-index: 1; }
  .vision__button {
    z-index: 1;
    margin-bottom: 395px; }
    @media screen and (max-width: 400px) {
      .vision__button {
        width: calc(100vw - 40px); } }
  .vision__container :nth-child(1) {
    position: absolute;
    top: 72px;
    left: 14vw; }
  .vision__container :nth-child(2) {
    position: absolute;
    top: 77px;
    left: 28vw; }
  .vision__container :nth-child(3) {
    position: absolute;
    top: 283px;
    left: 17vw; }
    @media screen and (max-width: 1250px) {
      .vision__container :nth-child(3) {
        top: 200px;
        left: 5vw; } }
  .vision__container :nth-child(4) {
    position: absolute;
    top: 370px;
    left: 5vw; }
  .vision__container :nth-child(5) {
    position: absolute;
    top: 466px;
    left: 30vw; }
  .vision__container :nth-child(6) {
    position: absolute;
    top: 518px;
    left: 8vw; }
  .vision__container :nth-child(7) {
    position: absolute;
    top: 109px;
    left: 90vw; }
    @media screen and (max-width: 1250px) {
      .vision__container :nth-child(7) {
        top: 70px;
        left: 70vw; } }
  .vision__container :nth-child(8) {
    position: absolute;
    top: 130px;
    left: 79vw; }
    @media screen and (max-width: 1250px) {
      .vision__container :nth-child(8) {
        top: 80px;
        left: 85vw; } }
  .vision__container :nth-child(9) {
    position: absolute;
    top: 276px;
    left: 91vw; }
  .vision__container :nth-child(10) {
    position: absolute;
    top: 385px;
    left: 76vw; }
  .vision__container :nth-child(11) {
    position: absolute;
    top: 513px;
    left: 83vw; }
  .vision__container :nth-child(12) {
    position: absolute;
    top: 514px;
    left: 63vw; }

.footer {
  background-color: #008aff;
  height: 120px;
  width: 100%; }
  .footer__nav {
    max-width: 1145px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1185px) {
      .footer__nav {
        margin: 0 20px; } }
    @media screen and (max-width: 1010px) {
      .footer__nav {
        display: none; } }

.contact {
  position: relative;
  margin-top: -200px;
  padding-top: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #008aff;
  border-top-right-radius: 200px;
  z-index: 1; }
  @media screen and (max-width: 900px) {
    .contact {
      padding-top: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .contact__soc {
    height: 32px;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 40px;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .contact__soc:hover {
      opacity: 0.5; }
    .contact__soc:focus {
      opacity: 0.5; }
  .contact__button {
    margin-top: 80px;
    margin-bottom: 108px; }
    @media screen and (max-width: 400px) {
      .contact__button {
        width: 100%; } }
  .contact__phone {
    text-decoration: none;
    font-family: "Open sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .contact__phone:hover {
      opacity: 0.5; }
    .contact__phone:focus {
      opacity: 0.5; }
  .contact__adress {
    font-family: "Open sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em; }
  .contact__subtitle {
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: bold;
    font-size: 13px; }
  .contact * {
    color: white; }
  .contact__container {
    margin: 0 auto;
    max-width: 1145px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1185px) {
      .contact__container {
        margin: 0 20px; } }
    @media screen and (max-width: 900px) {
      .contact__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content; } }
  .contact__message-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 460px; }
    @media screen and (max-width: 500px) {
      .contact__message-form {
        width: 280px; } }
  @media screen and (max-width: 500px) {
    .contact__data {
      width: 280px; } }
  .contact__field {
    margin-bottom: 32px;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #008aff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    outline: none; }
    .contact__field::-webkit-input-placeholder {
      color: white;
      opacity: 0.7; }
    .contact__field::-moz-placeholder {
      color: white;
      opacity: 0.7; }
    .contact__field:-ms-input-placeholder {
      color: white;
      opacity: 0.7; }
    .contact__field::-ms-input-placeholder {
      color: white;
      opacity: 0.7; }
    .contact__field::placeholder {
      color: white;
      opacity: 0.7; }
    .contact__field:focus {
      border-bottom: 2px solid white; }
  .contact #fb {
    background-image: url(../images/contact/fb.svg); }
  .contact #twitter {
    background-image: url(../images/contact/twitter.svg); }
  .contact #instagram {
    background-image: url(../images/contact/instagram.svg); }

body {
  background: #f2f9ff; }

.main__strategic-agency {
  width: 100%;
  margin: 0; }

/*# sourceMappingURL=main.css.map */
